__pycache__
.mypy_cache

venv/

*.avi
*.mp3
*.mp4
*.jpg
*.png

# message
!warning.jpg
!timer_bg.jpg
!break_bg.jpg
!what.mp3

# gui
!start.jpg
!wait.jpg

train_sample/
train/
*.h5
