__pycache__/
.mypy_cache/
.scannerwork/
.coverage

.vs
.vscode

venv/

*.avi
*.mp3
*.mp4
*.jpg
*.png
*.log

# image_filter
!dark_room.jpg
!dark_room_with_lightspot.jpg
!dark_room_with_lightspot1.jpg

train_sample/
train/
*.h5

# hide broken test
test/test_concentration_grader.py
