__pycache__
.mypy_cache

.vs
.vscode

venv/

*.avi
*.mp3
*.mp4
*.jpg
*.png
*.log

# message
!warning.jpg
!timer_bg.jpg
!break_bg.jpg
!what.mp3
!brightness_window.jpg

# demo
!white.jpg
!black.jpg

# gui
!start.jpg
!wait.jpg

train_sample/
train/
*.h5

# image_filter
!dark_room.jpg
!dark_room_with_lightspot.jpg
!dark_room_with_lightspot1.jpg
